pre code {
  font-size: 80%;
}

@media (min-width: 48em) {
  .content {
    max-width: 45rem;
  }
}

figure img {
  margin: 0 auto;
}

.opbox .opbox-code-wrap {
  height: initial;
}

.opbox .opbox-code {
  font-size: 80%;
}

.opbox .opbox-header {
  border-bottom: 1px solid #e1e1e1;
}

.opbox .opbox-output .opbox-result {
  font-family: monospace;
}

.ruby-code {
  margin-bottom: 2em;
  margin-top: 0;
}