pre code {
  font-size: 80%;
}

.opbox-header,
.opbox .opbox-code {
  font-size: 70%;
}

.opbox .opbox-output .opbox-result {
  font-family: monospace;
}

@media (min-width: 48em) {
  .content {
    max-width: 45rem;
  }
}

figure img {
  margin: 0 auto;
}

.ruby-code {
  margin-bottom: 2em;
  margin-top: 0;
}

pre.dark {
  color:#f8f8f2;
  background-color:#272822;
  -moz-tab-size:4;
  -o-tab-size:4;
  tab-size:4
}

.iframe-container-16by9 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.iframe-container-4by3 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.iframe-container-5by4 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 80%;
}

iframe.responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidebar-about h1 {
  font-size: 40px;
}
