<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/opalbox.min.css">
<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/opalbox-dark.min.css">

<!-- JS Dependencies (You can use CDN or local files) -->
<script type="text/javascript" src="https://cdn.opalrb.com/opal/0.8.1/opal.js"></script>
<script type="text/javascript" src="https://cdn.opalrb.com/opal/0.8.1/opal-parser.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- JS File -->
<script type="text/javascript" src="{{ .Site.BaseURL }}js/opalbox-jquery.min.js"></script>

<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
